

# Secrets and credentials
PAT.txt
.env
env/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (Matches venv/ in root, client, or server)
venv/



# Logs and databases
*.log
messenger.db
server.log

# Operating System Files
.DS_Store
Thumbs.db

